@{
    ViewData["Title"] = "Danh Sách Sản Phẩm";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Danh sách sản phẩm</h2>
    <a href="@Url.Action("Create", "Product")" class="btn btn-success btn-xl">Thêm</a>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Mô tả</th>
            <th>Ngày tạo</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@String.Format("{0:C}", product.Price)</td>
                <td>@product.Description</td>
                <td>@product.CreatedAt.ToString("dd/MM/yyyy")</td>
                <td>
                    <a href="@Url.Action("Edit", "Product", new { id = product.Id })" class="btn btn-warning btn-sm">Sửa</a>
                    <a href="@Url.Action("Delete", "Product", new { id = product.Id })" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
